# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [2]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [3]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [8]:

filepath = "data/song_data"

In [9]:
song_files = get_files(filepath)
song_files = song_files[0]
print(song_files)

C:\Users\mcara\Documents\DataEngineering\DataModeling\data\song_data\A\A\A\TRAAAAW128F429D538.json

In [10]:
df = pd.read_json(song_files, typ='series') #.to_numpy()
df.head(10)

num_songs                            1
artist_id           ARD7TVE1187B99BFB1
artist_latitude                   None
artist_longitude                  None
artist_location        California - LA
artist_name                     Casual
song_id             SOMZWCG12A8C13C480
title                 I Didn't Mean To
duration                     218.93179
year                                 0
dtype: object

In [ ]:
## IMPORTANT NOTE
#### Insert First into #2: ARTISTS TABLE and then into #1: SONGS table due to PK-FK relationship

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [11]:
# To select columns for song ID, title, artist ID, year, and duration
song_data = list(df[['song_id','title','artist_id','year','duration']])
song_data

['SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [11]:
print(song_table_insert)

INSERT INTO sparkify.songs(song_id, title, artist_id, year, duration)
VALUES (%s, %s, %s, %s, %s)
ON CONFLICT (song_id)
DO NOTHING;

In [12]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [7]:
print(artist_table_insert)

INSERT INTO sparkify.artists(artist_id, name, location, latitude, longitude)
VALUES (%s, %s, %s, %s, %s)
ON CONFLICT (artist_id)
DO NOTHING;

In [12]:
artist_data =list(df[['artist_id','artist_name','artist_location','artist_latitude', 'artist_longitude']])
artist_data

['ARD7TVE1187B99BFB1', 'Casual', 'California - LA', None, None]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [9]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [4]:
filepath = 'data/log_data'

In [5]:
log_files = get_files(filepath)
log_files = log_files[0]
print(log_files)

C:\Users\mcara\Documents\DataEngineering\DataModeling\data\log_data\2018\11\2018-11-01-events.json

In [6]:
df = pd.read_json(log_files, lines = True)
df

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1540919166796,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39
1,None,Logged In,Kaylee,F,0,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1540344794796,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
3,None,Logged In,Kaylee,F,2,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Upgrade,1540344794796,139,None,200,1541106132796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
5,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Quem Quiser Encontrar O Amor,200,1541106496796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
6,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Eriatarka,200,1541106673796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
7,Infected Mushroom,Logged In,Kaylee,F,6,Summers,440.26730,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Becoming Insane,200,1541107053796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
8,Blue October / Imogen Heap,Logged In,Kaylee,F,7,Summers,241.39710,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Congratulations,200,1541107493796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
9,Girl Talk,Logged In,Kaylee,F,8,Summers,160.15628,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Once again,200,1541107734796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
10,Black Eyed Peas,Logged In,Sylvie,F,0,Cruz,214.93506,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",PUT,NextSong,1540266185796,9,Pump It,200,1541108520796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",10
11,None,Logged In,Ryan,M,0,Smith,NaN,free,"San Jose-Sunnyvale-Santa Clara, CA",GET,Home,1541016707796,169,None,200,1541109015796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
12,Fall Out Boy,Logged In,Ryan,M,1,Smith,200.72444,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1541016707796,169,Nobody Puts Baby In The Corner,200,1541109125796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
13,M.I.A.,Logged In,Ryan,M,2,Smith,233.71710,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1541016707796,169,Mango Pickle Down River (With The Wilcannia Mob),200,1541109325796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
14,Survivor,Logged In,Jayden,M,0,Fox,245.36771,free,"New Orleans-Metairie, LA",PUT,NextSong,1541033612796,100,Eye Of The Tiger,200,1541110994796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",101

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [7]:
df = df.query("page == 'NextSong'")
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
5,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Quem Quiser Encontrar O Amor,200,1541106496796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
6,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Eriatarka,200,1541106673796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
7,Infected Mushroom,Logged In,Kaylee,F,6,Summers,440.26730,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Becoming Insane,200,1541107053796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

In [17]:
# ts=pd.to_timedelta (df.ts, unit='ms')
# print(ts.dt.components)
t = pd.to_datetime(df.ts, unit='ms')
t.head()

2   2018-11-01 21:01:46.796
4   2018-11-01 21:05:52.796
5   2018-11-01 21:08:16.796
6   2018-11-01 21:11:13.796
7   2018-11-01 21:17:33.796
Name: ts, dtype: datetime64[ns]

In [18]:
print(f"Timestamp")
print(t)

# Extract time from timestmap
# start_time = t.dt.time 
start_time = t
# Extract hour from timestamp
hour = t.dt.hour

# print(t.dt.isocalendar())
# Extract day/weekday from timestamp
# day = t.dt.isocalendar().day
day = t.dt.day

# Extract weekofyear/week  from timestamp
week = t.dt.isocalendar().week

# Extract Month from timestamp
month = t.dt.month

# Extract year from timestamp
# year = t.dt.isocalendar().year
year =t.dt.year

# Extract day/weekday from timestamp
weekday = t.dt.day

Timestamp
2    2018-11-01 21:01:46.796
4    2018-11-01 21:05:52.796
5    2018-11-01 21:08:16.796
6    2018-11-01 21:11:13.796
7    2018-11-01 21:17:33.796
8    2018-11-01 21:24:53.796
9    2018-11-01 21:28:54.796
10   2018-11-01 21:42:00.796
12   2018-11-01 21:52:05.796
13   2018-11-01 21:55:25.796
14   2018-11-01 22:23:14.796
Name: ts, dtype: datetime64[ns]

In [19]:
time_data   = (start_time, hour, day, week, month, year, weekday)

column_labels = ('start_time', 'hour', 'day', 'week', 'month', 'year', 'weekday')

In [20]:
# Convert combining column_labels and time_data into a dictionary
time_dict = dict(zip(column_labels, time_data))

# Create a dataframe
time_df = pd.DataFrame(data = time_dict)
time_df.head(10)

                start_time  hour  day  week  month  year  weekday
2  2018-11-01 21:01:46.796    21    1    44     11  2018        1
4  2018-11-01 21:05:52.796    21    1    44     11  2018        1
5  2018-11-01 21:08:16.796    21    1    44     11  2018        1
6  2018-11-01 21:11:13.796    21    1    44     11  2018        1
7  2018-11-01 21:17:33.796    21    1    44     11  2018        1
8  2018-11-01 21:24:53.796    21    1    44     11  2018        1
9  2018-11-01 21:28:54.796    21    1    44     11  2018        1
10 2018-11-01 21:42:00.796    21    1    44     11  2018        1
12 2018-11-01 21:52:05.796    21    1    44     11  2018        1
13 2018-11-01 21:55:25.796    21    1    44     11  2018        1

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [21]:
print(time_table_insert)

INSERT INTO sparkify.time(start_time, hour, day, week, month, year, weekday)
VALUES (%s, %s, %s, %s, %s, %s, %s);

In [22]:
for i, row in time_df.iterrows():
    print(f"i-> {i}, row -> {list(row)}")
    cur.execute(time_table_insert, list(row))
    conn.commit()

i-> 2, row -> [Timestamp('2018-11-01 21:01:46.796000'), 21, 1, 44, 11, 2018, 1]
i-> 4, row -> [Timestamp('2018-11-01 21:05:52.796000'), 21, 1, 44, 11, 2018, 1]
i-> 5, row -> [Timestamp('2018-11-01 21:08:16.796000'), 21, 1, 44, 11, 2018, 1]
i-> 6, row -> [Timestamp('2018-11-01 21:11:13.796000'), 21, 1, 44, 11, 2018, 1]
i-> 7, row -> [Timestamp('2018-11-01 21:17:33.796000'), 21, 1, 44, 11, 2018, 1]
i-> 8, row -> [Timestamp('2018-11-01 21:24:53.796000'), 21, 1, 44, 11, 2018, 1]
i-> 9, row -> [Timestamp('2018-11-01 21:28:54.796000'), 21, 1, 44, 11, 2018, 1]
i-> 10, row -> [Timestamp('2018-11-01 21:42:00.796000'), 21, 1, 44, 11, 2018, 1]
i-> 12, row -> [Timestamp('2018-11-01 21:52:05.796000'), 21, 1, 44, 11, 2018, 1]
i-> 13, row -> [Timestamp('2018-11-01 21:55:25.796000'), 21, 1, 44, 11, 2018, 1]
i-> 14, row -> [Timestamp('2018-11-01 22:23:14.796000'), 22, 1, 44, 11, 2018, 1]

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [23]:
#Select columns for user ID, first name, last name, gender and level and set to user_df
user_df = df[['userId','firstName','lastName','gender','level']]
user_df

    userId firstName lastName gender level
2        8    Kaylee  Summers      F  free
4        8    Kaylee  Summers      F  free
5        8    Kaylee  Summers      F  free
6        8    Kaylee  Summers      F  free
7        8    Kaylee  Summers      F  free
8        8    Kaylee  Summers      F  free
9        8    Kaylee  Summers      F  free
10      10    Sylvie     Cruz      F  free
12      26      Ryan    Smith      M  free
13      26      Ryan    Smith      M  free
14     101    Jayden      Fox      M  free

In [24]:
print(user_table_insert)

INSERT INTO sparkify.users(user_id, first_name, last_name, gender, level)
VALUES (%s, %s, %s, %s, %s)
ON CONFLICT (user_id)
DO NOTHING;

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [25]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

+## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [8]:
print(song_select)

 SELECT a.artist_id,  s.song_id
 FROM  sparkify.artists a
 LEFT JOIN  sparkify.songs s
 ON a.artist_id = s.artist_id
WHERE s.title = %s AND a.name = %s  AND s.duration = %s

In [9]:
print(songplay_table_insert)

INSERT INTO sparkify.songplays(start_time, user_id, level, song_id,
artist_id, session_id, location, user_agent)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s);

In [10]:

for index, row in df.iterrows():
    print(f"Song: {row.song}, artist : {row.artist}, duration/length: {row.length}")
    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    
    results = cur.fetchone()
    print(f"results : {results}")
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    songplay_data = (pd.to_datetime(row.ts, unit='ms'), row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent)
#     print(songplay_data)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

Song: You Gotta Be, artist : Des'ree, duration/length: 246.30812
results : None
Song: Flat 55, artist : Mr Oizo, duration/length: 144.03873
results : None
Song: Quem Quiser Encontrar O Amor, artist : Tamba Trio, duration/length: 177.18812
results : None
Song: Eriatarka, artist : The Mars Volta, duration/length: 380.42077
results : None
Song: Becoming Insane, artist : Infected Mushroom, duration/length: 440.2673
results : None
Song: Congratulations, artist : Blue October / Imogen Heap, duration/length: 241.3971
results : None
Song: Once again, artist : Girl Talk, duration/length: 160.15628
results : None
Song: Pump It, artist : Black Eyed Peas, duration/length: 214.93506
results : None
Song: Nobody Puts Baby In The Corner, artist : Fall Out Boy, duration/length: 200.72444
results : None
Song: Mango Pickle Down River (With The Wilcannia Mob), artist : M.I.A., duration/length: 233.7171
results : None
Song: Eye Of The Tiger, artist : Survivor, duration/length: 245.36771
results : None

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [4]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.